<main>

    <div class="row">
        <div id="topology">
            <div class="container">
                <a href="/home" class="waves-effect waves-light white-text homeArt btn">Home<i
                        class="material-icons left">cloud</i></a>
                <a class="logout btn" id="artBtn" href='/logout' style="color:#FFFFFF; padding: 2px;">Logout</a>
                {{#each photo}}
                <div class="container">
                    <div class="col s12 m4">
                        <div class="card small">
                            <div class="card-image">
                                <img src="{{src.landscape}}">
                            </div>
                            <div class="card-content black-text">
                                <p>By {{photographer}}</p>
                            </div>
                            <div class="card-action black-text">
                                <a href="#" class="favorite" data-img="{{src.landscape}}" data-url="{{url}}"
                                    data-text="By {{photographer}}"><i class="material-icons">favorite_border</i></a>
                                <a href="{{url}}" target="_blank"><i class="material-icons">launch</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>

</main>