<main>
  <div class="my-header">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div>
              <h2>Build a Burger</h2>
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s10">
                    <input placeholder="ex. Cheese Burger" id="burger_name" type="text" class="white-text">
                  </div>
                  <div class="input-field col s2">
                    <button class="waves-effect waves-light btn btn-submit white black-text" type="submit">Build Your Burger</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> 
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div>
          <h2>Eat a Burger</h2>
          <table class="striped">
            <tbody class="uneaten-burger">
            {{#each hamburger}}

              
              {{#unless eaten}}
                <tr>
                    <td>{{name}}</td>
                    <td class="right-align">
                      <a class="waves-effect waves-light btn btn-eat" data-id="{{id}}" data-name="{{name}}" data-eaten="{{eaten}}">Eat!</a>
                    </td>
                </tr>            
              {{/unless}}
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col s12 m6">
        <div>
          <h2>Eaten Burgers</h2>
          <table class="striped">
            <tbody class="eaten-burger">
            {{#each hamburger}}
              {{#if eaten}}
                <tr>
                    <td>{{name}}</td>
                    <td class="right-align">
                      <a class="waves-effect waves-light btn btn-delete" data-id="{{id}}" data-name="{{name}}" data-eaten="{{eaten}}">Delete</a>
                    </td>
                </tr>            
              {{/if}}
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
 
</main>

