<main>
  <div class="my-header">
      <div class="container">
        <div id="birds">
          <script>
            VANTA.BIRDS({
              el: "#birds",
              mouseControls: true,
              touchControls: true,
              minHeight: 200.00,
              minWidth: 200.00,
              scale: 1.00,
              scaleMobile: 1.00,
              backgroundColor: 0x7192f,
              backgroundAlpha: 1,
              color1: 0x3eff,
              color2: 0xd1ff,
              colorMode: varianceGradient,
              quantity: 5,
              birdSize: 1,
              wingSpan: 30,
              speedLimit: 5,
              separation: 20,
              alignment: 20,
              cohesion: 20
            });
          </script>
        </div>
      </div> 
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div>
          <h2>Eat a Burger</h2>
          <table class="striped">
            <tbody class="uneaten-burger">
            {{#each hamburger}}

              
              {{#unless eaten}}
                <tr>
                    <td>{{name}}</td>
                    <td class="right-align">
                      <a class="waves-effect waves-light btn btn-eat" data-id="{{id}}" data-name="{{name}}" data-eaten="{{eaten}}">Eat!</a>
                    </td>
                </tr>            
              {{/unless}}
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col s12 m6">
        <div>
          <h2>Eaten Burgers</h2>
          <table class="striped">
            <tbody class="eaten-burger">
            {{#each hamburger}}
              {{#if eaten}}
                <tr>
                    <td>{{name}}</td>
                    <td class="right-align">
                      <a class="waves-effect waves-light btn btn-delete" data-id="{{id}}" data-name="{{name}}" data-eaten="{{eaten}}">Delete</a>
                    </td>
                </tr>            
              {{/if}}
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
 
</main>

