<main>
    <div class="row">
        <div class="background">
            <a href="/home" class="waves-effect waves-light white-text homeMusic btn">Home<i
                    class="material-icons left">cloud</i></a>
            <a class="logout btn" id="musicBtn" href='/logout' style="color:#FFFFFF; padding: 2px;"
                target="_blank">Logout</a>
            {{#each song}}
            <div class="container">
                <div class="col s12 m4">
                    <div class="card medium">
                        <img src="{{album.images.1.url}}">
                        <p>name: {{name}}</p>
                        <p>artist: {{album.artists.0.name}}</p>
                    </div>
                    <div class="card-content black-text">
                        <p>popularity: {{popularity}}</p>
                    </div>
                    <div class="card-action black-text">
                        <a href="#" class="favorite" data-img="{{album.images.1.url}}"
                            data-url="{{external_urls.spotify}}"
                            data-text="name: {{name}} | artist: {{album.artists.0.name}}"><i
                                class="material-icons">favorite_border</i></a>
                        <a href="{{external_urls.spotify}}" target="_blank"><i class="material-icons">launch</i></a>
                    </div>
                </div>
            </div>
            {{/each}}
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <footer class="music-page-footer"></footer>
    </div>
</main>